body{
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	background-color: #e7f1ff;
}

.myCol{
	background-color: #00e4f6;
	text-align: center;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}

a{
	color: black;
}

a:hover{
	color: black;
	text-decoration: none;
}

.myCol:hover{
	background-color: #1aa6b7;
}

.navside{
	background-color: #00e4f6;
}

.myNavbar{
	border-bottom: 50px;
	font-size: 18px;
}

a{
	display: block;
}

.withinPage{
	background-color: #1aa6b7;
}

.emailButton, .skypeButton{
	border: 1px solid green;
	background-color: #e7f1ff;
}

.emailButton:hover, .skypeButton:hover{
	background-color: white;
}

.channelName, .varsity, .bge{
	display: inline;
	color: #000851;
}

.varsity:hover, .bge:hover{
	color: blue;
}

.myFooter{
	background-color: #00e4f6;
	height: 200px;
	width: 100%;
		
}

.footerText{
	padding-top: 15px;
	text-align: center;
}

.spaceMaker{
	height: 5px;
}

.socialIcons img{
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.socialIcons a{
	display: inline;
}

.socialIcons img:hover{
    transform: scale(1.1);
}

.card{
	width: 21rem;
}

.card-body{
	height: 67px;
	line-height: 32px;
}

.card-title{
	line-height: 0px;
}

/*Wordpress themes section*/
div.wp-themes a{
	margin-left: 10px;
	border: 1px dashed black;
	color: blue;
	display: inline-block;
	padding: 3px 5px;
}

/*Other Projects*/

.projects div{
	padding: 25px;
	border: 2px solid #1aa6b7;
	text-align: center;
	margin: 10px;
	float: left;
}

.projects h4{
	text-align: left;
}

.projects div:hover{
	background: #ccddee;
}

/*Website Projects*/

.websites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.websites a{
	display: inline-block;
	text-align: center;
	margin: 1rem 0;
}

.websites a .text{
	background: rgba(0, 204, 255, 0.8);
	display: block;
}

.websites a:hover .text{
	background: black;
	color: white;
}

.websites a div{
	width: 12rem;
	height: 15rem;
	border: 1px solid black;
}

.site-1 {
	background: url(images/website1.png);
	background-position: center;
	background-size: cover;
}
.site-2 {
	background: url(images/website2.png);
	background-position: center;
	background-size: cover;
}
.site-3 {
	background: url(images/website3.png);
	background-position: center;
	background-size: cover;
}
.site-4 {
	background: url(images/website4.png);
	background-position: center;
	background-size: cover;
}
.site-5 {
	background: url(images/website5.png);
	background-position: center;
	background-size: cover;
}

@media screen and (max-width: 500px){
	.nowrap{
		white-space: nowrap;
	}
}


@media screen and (max-width: 400px){

	table .row{
		width: 17rem;
	}

	.card{
		width: 16rem;
	}

	.card-img-top{
		width: 15.9rem;
	}

	.myFooter{
		font-size: 0.9rem;
	}

	.nowrap{
		white-space: nowrap;
	}

	.projects div{
		width: 16rem;
	}
}


@media screen and (max-width: 320px){
	.projects h4, h4{
		font-size: 1.3rem;
		text-align: center;
	}

	.container{
		padding-left: 4px;
	}
}